<div class="row">
  <div class="smoothie-boxes">
    <% if end_user_signed_in? %>
      <% smoothies.each do |smoothie| %>
        <div class="smoothie-box">
          <%= link_to end_users_smoothy_path(smoothie) do %>
            <%= attachment_image_tag smoothie, :image, :fill, 400, 400, class: "image-frame", format:'jpeg', fallback: "white_logo.jpg" %>
          <% end %>
          <div class="buttons">
            <div id="favorite_buttons_<%= smoothie.id %>", class="favorite-button">
              <%= render partial: "end_users/smoothies/favorite_button", locals: { smoothie: smoothie } %>
            </div>
            <div class="comment-button">
              <%= link_to end_users_smoothy_comments_path(smoothie) do %>
                <i class="fas fa-comment"></i>
              <% end %>
              <%= smoothie.comments.count %>
            </div>
          </div>
        </div>
      <% end %>
    <% elsif admin_signed_in? %>
      <% smoothies.each do |smoothie| %>
        <div class="smoothie-box">
          <div class="smoothie-image">
            <%= link_to admins_smoothy_path(smoothie) do %>
              <%= attachment_image_tag smoothie, :image, :fill, 400, 400, class: "image-frame", format:'jpeg', fallback: "white_logo.jpg", size: "400x400" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="paginate-container">
    <%= paginate smoothies %>
  </div>
</div>