<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <%= render partial: "end_users/end_users/mypage_sidebar", locals: { end_user: @smoothie.end_user } %>
    </div>
    <div class="col-sm-9">
       <% if @smoothie == nil %>
        <div class="row">
          <div class="col-sm-12">
            <h3>スムージはまだ投稿されていません</h3>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-sm-12">
            <div class="page-title">
              <h2><span>スムージー詳細</span></h2>
            </div>
          </div>
        </div>
        <div class='col-sm-4'>
          <%if @smoothie.end_user == current_end_user && @smoothie.is_recommended == false %>
            <div class="update-is-recommended-button">
              <%= link_to is_recommended_update_smoothy_path(@smoothie), method: :patch do %>
                <button id="is-recommended-button", class="is-recommended-button btn btn-primary">おすすめレシピ登録</button>
              <% end %>
            </div>
          <% end %>
          <div class="smoothie_image show-page-smoothie-box">
            <%= attachment_image_tag @smoothie, :image, :fill, 300, 300, class:"image-frame", format:'jpeg',fallback:"white_logo.jpg",size:"200x200"%>
          </div>
          <div class="buttons">
            <div class="created-at">
              <p><%= @smoothie.how_long_ago %></p>
            </div>
            <div id="favorite_buttons_<%= @smoothie.id %>", class="fovorite-buttons" >
              <%= render partial: "end_users/smoothies/favorite_button", locals: { smoothie: @smoothie } %>
            </div>
            <div class="comment">
              <%= link_to smoothy_comments_path(@smoothie) do %>
                <i class="fas fa-comment"></i>
              <% end %>
              <%= @smoothie.comments.count %>
            </div>
            <% if @smoothie.end_user == current_end_user %>
              <div class="smoothie_delete_button">
                <%= link_to smoothy_path(@smoothie), method: :delete, data: {confirm: "削除しますか？"} do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="smoothie-introduction">
            <%= @smoothie.introduction %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ingredients-table">
            <%= render partial: "end_users/ingredients/total_ingredients_table", locals: {smoothie: @smoothie } %>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class="nutrients-table">
            <%= render partial: "end_users/smoothies/total_nutrients_table", locals: {smoothie_ingredients: @smoothie.smoothie_ingredients } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>