<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>いいね数ランキング</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="smoothie-boxes">
        <% lastFavorite = 0 %>
        <% j = 1 %>
        <% @all_ranks.each.with_index(1) do |ranking, i| %>
          <div class="smoothie-box">
            <% if i == 1 %>
              <% lastFavorite = ranking.favorites.count %>
            <% end %>
            <% if ranking.favorites.count != lastFavorite %>
              <% j = i %>
              <div class="ranking-image-header-wrapper">
                <div class="ranking-image-header">
                  <div class="ranking-number">
                    第<%= j %>位
                  </div>
                  <div class="ranking-favorite-number">
                    いいね数：<%= ranking.favorites.count %>
                  </div>
                </div>
              </div>
              <div class="smoothie-image">
                <%= link_to end_users_smoothy_path(ranking) do %>
                  <%= attachment_image_tag ranking, :image, :fill, 400, 400, class: "image-frame", format:'jpeg', fallback: "no_image.jpg", size: "400x400" %>
                <% end %>
              </div>
              <% lastFavorite = ranking.favorites.count %>
            <% else %>
              <% lastFavorite = ranking.favorites.count %>
              <div class="ranking-image-header-wrapper">
                <div class="ranking-image-header">
                  <div class="ranking-number">
                    第<%= j %>位
                  </div>
                  <div class="ranking-favorite-number">
                    いいね数：<%= ranking.favorites.count %>
                  </div>
                </div>
              </div>
              <div class="smoothie-image">
                <%= link_to end_users_smoothy_path(ranking) do %>
                  <%= attachment_image_tag ranking, :image, :fill, 400, 400, class: "image-frame", format:'jpeg', fallback: "no_image.jpg", size: "400x400" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

