<%= form_with model: end_user, url: end_users_end_user_path(end_user), remote: true do |f| %>
  <div class="error-messages">
     <%= render partial: "layouts/error_message", locals: { model: f.object } %>
  </div>
  <table class="table">
    <tr>
      <th><%= f.label :name, "アカウント名" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :email, :"メールアドレス" %></th>
      <td><%= f.email_field :email %></td>
    </tr>
  </table>
  <div class="end-user-edit-buttons">
    <%= f.submit "変更する", class: "btn btn-primary" %>
    <%= link_to destroy_confirm_end_users_end_users_path do %>
      <button class="btn btn-danger">退会する</button>
    <% end %>
  </div>
<% end %>