<div class="mypage-side-bar">
  <h4>
    <%= link_to end_user.name, end_users_end_user_path(end_user) %>さんのマイページ
    <% if end_user.id == current_end_user.id %>
      <%= link_to edit_end_users_end_user_path(end_user.id) do %>
        <span class="link-to-edit"><i class="fas fa-cog"></i></span>
      <% end %>
    <% end %>
  </h4>
  <br>
  <br>
  <p>レシピ投稿数  <%= link_to end_user.smoothies.count, recipe_list_end_users_end_user_path(end_user) %>件</p>
  <p>いいねしたレシピ数  <%= link_to end_user.favorites.count, favorite_list_end_users_end_user_path(end_user) %>件</p>
  <% if end_user.id == current_end_user.id && end_user.ingredients.any? %>
    <p>新規追加した材料　<%= link_to end_user.ingredients.count, ingredient_list_end_users_end_user_path(current_end_user) %>件</p>
  <% end %>
</div>