<div class="container-fluid">
  <div class="row">
    <div class='col-xs-12'>
      <div class="page-title">
        <h2><span>ユーザー一覧</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <table class='table end-users-table'>
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>スムージー投稿</th>
            <th>いいねした投稿</th>
          </tr>
        </thead>
        <tbody>
          <% @end_users.each do |end_user| %>
            <tr class="user-record">
              <td>
                <%= link_to end_users_end_user_path(end_user) do %>
                  <%= attachment_image_tag end_user.smoothies.find_by(is_recommended: true), :image, :fill, 100, 100, class: "user-index-image", format:'jpeg', fallback: "white_logo.jpg", size: "100x100" %><br>
                  <%= end_user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to end_user.smoothies.count, recipe_list_end_users_end_user_path(end_user) %>レシピ
              </td>
              <td>
                <%= link_to end_user.favorites.count, favorite_list_end_users_end_user_path(end_user) %>レシピ
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="paginate-container">
      <%= paginate @end_users %>
    </div>
  </div>
</div>