<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <%= render partial: "end_users/end_users/mypage_sidebar", locals: { end_user: current_end_user } %>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title">
            <h2><span><%= current_end_user.name %>さんが追加した材料</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <table class="table">
            <thead>
              <tr>
                <th>追加日</th>
                <th>材料名</th>
              </tr>
            </thead>
            <tbody>
              <% @ingredients.each do |ingredient| %>
                <tr>
                  <td><%= ingredient.created_at.strftime('%Y/%m/%d') %></td>
                  <td>
                    <%= link_to edit_ingredient_path(ingredient) do %>
                      <%= ingredient.name %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="paginate-container">
          <%= paginate @ingredients %>
        </div>
      </div>
    </div>
  </div>
</div>