<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3", id="mypage-sidebar-wrapper">
      <%= render partial: "end_users/end_users/mypage_sidebar", locals: { end_user: @end_user } %>
    </div>
    <div class="col-xs-9">
      <% if @smoothie == nil %>
        <div class="row">
          <div class="col-xs-12">
            <div class="page-title">
              <h3><span>おすすめスムージはまだ登録されていません</span></h3>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-xs-12">
            <div class="page-title">
              <h2><span><%= @end_user.name %>さんおすすめレシピ</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-4'>
            <div class="smoothie_image">
              <%= attachment_image_tag @smoothie, :image, :fill, 200, 200, class: "image-frame", format:'jpeg',fallback:"no_image.jpg",size:"200x200"%>
            </div>
            <div class="buttons">
              <div class="created-at">
                <p><%= @smoothie.how_long_ago %></p>
              </div>
              <div id="favorite_buttons_<%= @smoothie.id %>">
                <%= render partial: "end_users/smoothies/favorite_button", locals: { smoothie: @smoothie } %>
              </div>
              <div class="comment_button">
                <%= link_to end_users_smoothy_comments_path(@smoothie) do %>
                  <i class="fas fa-comment"></i>
                <% end %>
                <%= @smoothie.comments.count %>
              </div>
            </div>
            <div class="introduction">
              <%= @smoothie.introduction %>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="ingredients-table">
              <%= render partial: "end_users/ingredients/total_ingredients_table", locals: { smoothie: @smoothie } %>
            </div>
          </div>
          <div class='col-xs-4'>
            <div class="nutrients-table">
              <%= render partial: "end_users/smoothies/total_nutrients_table", locals: { smoothie_ingredients: @smoothie.smoothie_ingredients} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>