<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h2><span>レシピ検索</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="search-way-boxes">
        <div class="search-way-box">
          <%= link_to new_smoothies_smoothies_path do %>
            <div class="box-header">
              <p>新着から</p>
            </div>
          <% end %>
          <div class="search-way-image-container">
            <%#= image_tag 'new_logo.jpg', class: "search-way-image" %>
          </div>
        </div>
        <div class="search-way-box">
          <%= link_to  smoothie_ranking_smoothies_path do %>
            <div class="box-header">
              <p>ランキングから</p>
            </div>
          <% end %>
          <div class="search-way-image-container">
            <%#= image_tag 'ranking_logo.jpg', class: "search-way-image" %>
          </div>
        </div>
      </div>
      <div class="search-way-boxes">
        <div class="search-way-box">
          <%= form_with url: searches_recipe_search_path, class: "form-inline end-users-search-ways-form", local: true, method: :get do |f| %>
            <div class="form-group">
              <%= f.label :word, class: "sr-only" %>
              <%= f.text_field :word, class: "form-control",placeholder: "材料名 ホット etc..." %>
            </div>
              <%= f.submit "検索", class:"btn btn-default" %>
          <% end %>
          <div class="search-way-image-container">
            <%#= image_tag 'search_logo.jpg', class: "search-way-image" %>
          </div>
        </div>
        <div class="search-way-box">
          <%= link_to ingredients_path do %>
            <div class="box-header">
              <p>自分で作る</p>
            </div>
          <% end %>
          <div class="search-way-image-container">
            <%#= image_tag 'juicer_logo.jpg', class: "search-way-image" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>