<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2>RECIPES SEARCH</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="search-way-boxes">
        <div class="search-way-box">
          <%= link_to new_smoothies_end_users_smoothies_path do %>
            <div class="box-header">
              <p>新着から</p>
            </div>
            <div class="search-icon">
              <i class="fab fa-hotjar"></i>
            </div>
          <% end %>
        </div>
        <div class="search-way-box">
          <%= link_to  smoothie_ranking_end_users_smoothies_path do %>
            <div class="box-header">
              <p>ランキングから</p>
            </div>
          <% end %>
        </div>
        <div class="search-way-box">
          <div class="box-header">
            <p>検索</p>
          </div>
          <div class="search-form">
            <%= form_with url: end_users_searches_recipe_search_path, class:"form-inline", local: true, method: :get do |f| %>
              <div class="form-group">
                <%= f.text_field :word, class:"form-control",placeholder: "ここに入力" %>
                <%= f.submit "検索" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="search-way-box">
          <%= link_to end_users_ingredients_path do %>
            <div class="box-header">
              <p>自分で作る</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>