<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>SMOOTHIE DETAIL</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-3'>
      <div class="smoothie_image">
        <%= attachment_image_tag @smoothie, :image, :fill, 300, 300, class:"image-size", format:'jpeg',fallback:"no_image.jpg",size:"200x200"%>
      </div>
      <div class="ingredients-table">
        <%= render partial: "end_users/ingredients/total_ingredients_table", locals: {smoothie: @smoothie } %>
      </div>
      <div class="introduction">
        <%= @smoothie.introduction %>
      </div>
      <div class="delete-btn">
        <%= link_to admins_smoothy_path(@smoothie), method: :delete, data: {confirm: "削除しますか？"} do %>
          <button class="btn btn-danger">削除する</button>
        <% end %>
      </div>
    </div>
    <div class='col-xs-9'>
      <div class="admin-comment-table">
        <%= render partial: "admins/comments/comment_table", locals: {comments: @smoothie.comments.order(created_at: "DESC").page(params[:page]).per(10)} %>
      </div>
    </div>
  </div>
</div>