<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2>スムージー詳細画面</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-4'>
      <div class="smoothie_image">
        <%= attachment_image_tag @smoothie, :image, :fill, 200, 200, format:'jpeg',fallback:"no_image.jpg",size:"200x200"%>
      </div>
      <div class="introduction">
        <%= @smoothie.introduction %>
      </div>
      <div class="delete-btn">
        <%= link_to admins_smoothy_path(@smoothie), method: :delete, data: {confirm: "削除しますか？"} do %>
          <button class="btn btn-danger">削除する</button>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="ingredients-table">
        <%= render partial: "end_users/ingredients/total_ingredients_table", locals: {smoothie: @smoothie } %>
      </div>
    </div>
    <div class='col-xs-4'>
      <div class="nutrients-table">
        <%= render partial: "end_users/smoothies/total_nutrients_table", locals: {smoothie_ingredients: @smoothie.smoothie_ingredients } %>
      </div>
    </div>
  </div>
</div>