<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>About</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="main-visual">
        <div class="main-visual-content">
          <h4 class="about-text">
          スムージーレシピの共有サイトです。<br><br>
          材料から栄養価を計算しご自身のレシピを共有したり<br><br>
          お気に入りのスムージーレシピの保存ができます。<br><br>
          <%= link_to "コミュニティガイドライン", "#guideline-text" %>を守って<br><br>
          お洒落で健康的な生活を目指しましょう！<br><br>
        </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>RANKING</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="smoothie-boxes">
        <% lastFavorite = 0 %>
        <% j = 1 %>
        <% @all_ranks.each.with_index(1) do |ranking, i| %>
          <div class="smoothie-box">
            <% if i == 1 %>
              <% lastFavorite = ranking.favorites.count %>
            <% end %>
            <% if ranking.favorites.count != lastFavorite %>
              <% j = i %>
              <div class="ranking-image-header-wrapper">
                <div class="ranking-image-header">
                  <div class="ranking-number">
                    第<%= j %>位
                  </div>
                  <div class="ranking-smoothie-maker">
                    <%= ranking.end_user.name %>さんのスムージー
                  </div>
                </div>
              </div>
              <div class="smoothie-image">
                <%= link_to end_users_smoothy_path(ranking) do %>
                  <%= attachment_image_tag ranking, :image, :fill, 300, 300, class:"image-frame", format:'jpeg', fallback: "no_image.jpg", size: "300x300" %>
                <% end %>
              </div>
              <% lastFavorite = ranking.favorites.count %>
            <% else %>
              <% lastFavorite = ranking.favorites.count %>
              <div class="ranking-image-header-wrapper">
                <div class="ranking-image-header">
                  <div class="ranking-number">
                    第<%= j %>位
                  </div>
                  <div class="ranking-smoothie-maker">
                    <%= ranking.end_user.name %>さんのスムージー
                  </div>
                </div>
              </div>
              <div class="smoothie-image">
                <%= link_to end_users_smoothy_path(ranking) do %>
                  <%= attachment_image_tag ranking, :image, :fill, 300, 300, class:"image-frame", format:'jpeg', fallback: "no_image.jpg", size: "300x300" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to smoothie_ranking_end_users_smoothies_path do %>
        <p class="open-full-page">続きを見る</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>RECENT POSTS</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="smoothie-boxes">
        <% @new_smoothies.each do |smoothie| %>
          <div class="smoothie-box">
            <%= link_to end_users_smoothy_path(smoothie) do  %>
              <%= attachment_image_tag smoothie, :image, :fill, 300, 300, class:"image-frame", format:'jpeg', fallback: "no_image.jpg", size: "300x300" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to new_smoothies_end_users_smoothies_path do %>
        <p class="open-full-page">続きを見る</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>COMMUNITY GUIDELINE</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="guideline-wrapper">
      <h4 id="guideline-text", class="guideline-text">
        gysでは皆さんに安全で楽しく利用していただくためにコミュニティガイドラインを設定しております。<br>
        以下の規約を守って充実したスムージーライフをシェアしていきましょう！
      </h4>
      <ul class="guideline-list">
        <li class="guideline-list-item">ご自身で撮影された写真を投稿しましょう。</li>
        <li class="guideline-list-item">人を中傷するようなコメントや投稿は禁止です。</li>
        <li class="guideline-list-item">サイトの利便性を妨害するような投稿や不要な新規材料の追加はやめましょう。</li>
      </ul>
      <h4 class="guideline-text">以上のルールを複数回に渡り違反する利用者にはアカウントの<span><strong>停止措置</strong></span>を行いますので予めご了承ください。</h4>
    </div>
  </div>
</div>