<div class="container-fluid">
  <div class='row'>
    <div class="col-sm-12">
      <div class="page-title">
        <h2><span>確認画面</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table confirm-table">
        <tbody>
          <tr>
            <th>材料名</th>
            <td><%= @ingredient.name %></td>
          </tr>
          <tr>
            <th>〜グラムあたりの栄養栄養素量</th>
            <td><%= @gram %>gあたり</td>
          </tr>
          <tr>
            <th>エネルギー</th>
            <td><%= @ingredient.energy %>kcal</td>
          </tr>
          <tr>
            <th>タンパク質</th>
            <td><%= @ingredient.protein %>g</td>
          </tr>
          <tr>
            <th>糖質</th>
            <td><%= @ingredient.carb %>g</td>
          </tr>
          <tr>
            <th>脂質</th>
            <td><%= @ingredient.lipid %>g</td>
          </tr>
          <tr>
            <th>ビタミンA</th>
            <td><%= @ingredient.vitamin_a%>μg</td>
          </tr>
          <tr>
            <th>ビタミンB1</th>
            <td><%= @ingredient.vitamin_b1 %>mg</td>
          </tr>
          <tr>
            <th>ビタミンB2</th>
            <td><%= @ingredient.vitamin_b2 %>mg</td>
          </tr>
          <tr>
            <th>ビタミンB6</th>
            <td><%= @ingredient.vitamin_b6 %>mg</td>
          </tr>
          <tr>
            <th>ビタミンB12</th>
            <td><%= @ingredient.vitamin_b12 %>μg</td>
          </tr>
          <tr>
            <th>ビタミンC</th>
            <td><%= @ingredient.vitamin_c %>mg</td>
          </tr>
          <tr>
            <th>ビタミンD</th>
            <td><%= @ingredient.vitamin_d %>μg</td>
          </tr>
          <tr>
            <th>ビタミンE</th>
            <td><%= @ingredient.vitamin_e %>mg</td>
          </tr>
          <tr>
            <th>ビタミンK</th>
            <td><%= @ingredient.vitamin_k %>μg</td>
          </tr>
        </tbody>
      </table>
      <h3 class="last-confirm">上記の内容で誤りはないですか？</h3>
      <%= form_with model: @ingredient,url: end_users_ingredients_path, local: true do |f| %>
        <%= f.hidden_field :name, :value => @ingredient.name %>
        <%= f.hidden_field :gram, :value => @gram %>
        <%= f.hidden_field :energy, :value => @ingredient.energy %>
        <%= f.hidden_field :protein, :value => @ingredient.protein %>
        <%= f.hidden_field :carb, :value => @ingredient.carb %>
        <%= f.hidden_field :lipid, :value => @ingredient.lipid %>
        <%= f.hidden_field :vitamin_a, :value => @ingredient.vitamin_a %>
        <%= f.hidden_field :vitamin_b1, :value => @ingredient.vitamin_b1 %>
        <%= f.hidden_field :vitamin_b2, :value => @ingredient.vitamin_b2 %>
        <%= f.hidden_field :vitamin_b6, :value => @ingredient.vitamin_b6 %>
        <%= f.hidden_field :vitamin_b12, :value => @ingredient.vitamin_b12 %>
        <%= f.hidden_field :vitamin_c, :value => @ingredient.vitamin_c %>
        <%= f.hidden_field :vitamin_d, :value => @ingredient.vitamin_d %>
        <%= f.hidden_field :vitamin_e, :value => @ingredient.vitamin_e %>
        <%= f.hidden_field :vitamin_k, :value => @ingredient.vitamin_k %>
        <div class="confirm-buttons">
          <%= f.submit "はい",name: "create", class: "btn btn-primary" %>
          <%= f.submit "修正する", name: "createback", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

