<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h2><span>材料選択</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="ingredient-sort-form">
        <%= form_with url:end_users_ingredients_path, method: :get, local: true do |f| %>
          <div class="field">
              <%= f.check_box :created_by_self, {checked: params[:created_by_self] != "0"} %>
            <%= f.label :created_by_self, "自分が追加した材料" %>
          </div>
          <div class="field">
            <%= f.check_box :created_by_other_end_user, {checked: params[:created_by_other_end_user] != "0"}   %>
            <%= f.label :created_by_other_end_user, "他ユーザーが追加した材料"  %>
          </div>
          <div class="field">
            <%= f.check_box :created_by_admin, {checked: params[:created_by_admin] != "0"}   %>
            <%= f.label :created_by_admin, "管理者が追加した材料"  %>
          </div>
          <div class="action">
            <%= f.submit "絞り込み", class:"btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-10">
          <div class="end-user-ingredient-index-actions">
            <div class="end-user-ingredient-index-action">
              <%= form_with url: end_users_searches_ingredient_search_path, class: "form-inline", method: :get, local: true do |f| %>
                <%= f.text_field :word, class: "form-control", placeholder: "材料名で検索" %>
                <%= f.submit "検索", class: "btn btn-default" %>
              <% end %>
            </div>
            <div class="end-user-ingredient-index-action">
              <%= link_to new_end_users_ingredient_path do %>
                <btn class="btn btn-primary">新しく材料を作成する</btn>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="ingredients-table">
            <%= render partial: "end_users/ingredients/ingredients_table", locals: { ingredients: @ingredients} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>