<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>材料選択</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="ingredient-actions">
        <div class="ingredient-search">
          <div class="search-form">
            <%= form_with url: end_users_searches_ingredient_search_path, class: "form-inline", method: :get, local: true do |f| %>
              <%= f.text_field :word, class: "form-control", placeholder: "材料名" %>
              <%= f.submit "検索", class: "btn btn-default" %>
            <% end %>
          </div>
        </div>
        <div class="add-ingredient-btn">
          <%= link_to new_end_users_ingredient_path do %>
            <btn class="btn btn-primary">新しく材料を作成する</btn>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="ingredients-table">
        <%= render partial: "end_users/ingredients/ingredients_table", locals: { ingredients: @ingredients} %>
      </div>
    </div>
  </div>
</div>