<div class="container">
  <div class="row">
    <%= form_with model: @ingredient,url: confirm_end_users_ingredients_path, method: :get, local: true do |f| %>
      <div class="col-xs-9">
        <div class="form-header">
          <h4>
            ※栄養素は100gあたりの数値入力をお願いいたします。<br>
            不明な箇所は0とご入力ください。
          </h4>
        </div>
        <table class="table">
          <tr>
            <th><%= f.label :name_hiragana, "材料名" %></th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th><%= f.label :edible_part_amount, "1つあたりの可食部重量" %></th>
            <td><%= f.text_field :edible_part_amount %> g</td>
          </tr>
          <tr>
            <th><%= f.label :gram, "〜グラムあたりの栄養素量" %></th>
            <td><%= f.text_field :gram %> g</td>
          </tr>
          <tr>
            <th><%= f.label :energy, "エネルギー" %></th>
            <td><%= f.text_field :energy %> kcal</td>
          </tr>
          <tr>
            <th><%= f.label :protein, "タンパク質" %></th>
            <td><%= f.text_field :protein %> g</td>
          </tr>
          <tr>
            <th><%= f.label :carb, "糖質" %></th>
            <td><%= f.text_field :carb %> g</td>
          </tr>
          <tr>
            <th><%= f.label :lipid, "脂質" %></th>
            <td><%= f.text_field :lipid %> g</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_a, "ビタミンA" %></th>
            <td><%= f.text_field :vitamin_a %> μgRAE</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b1, "ビタミンB1" %></th>
            <td><%= f.text_field :vitamin_b1 %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b2, "ビタミンB2" %></th>
            <td><%= f.text_field :vitamin_b2 %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b6, "ビタミンB6" %></th>
            <td><%= f.text_field :vitamin_b6 %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b12, "ビタミンB12" %></th>
            <td><%= f.text_field :vitamin_b12 %> μg</td>
          </tr>
          <tr>
            <th> <%= f.label :vitamin_c, "ビタミンC" %></th>
            <td><%= f.text_field :vitamin_c %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_d, "ビタミンD" %></th>
            <td><%= f.text_field :vitamin_d %> μg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_e, "ビタミンE" %></th>
            <td><%= f.text_field :vitamin_e %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_k, "ビタミンK" %></th>
            <td><%= f.text_field :vitamin_k %> μg</td>
          </tr>
        </table>
        <%= f.submit "追加" %>
      </div>
    <% end %>
  </div>
</div>