<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h3><%= @ingredient.name %>100gあたりに含まれる栄養素一覧</h3>
      <table class="table">
        <thead>
          <tr>
            <th>栄養素</th>
            <th>量</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>エネルギー</td>
            <td><%= @ingredient.energy.round(3) %>kcal</td>
          </tr>
          <tr>
            <td>タンパク質</td>
            <td><%= @ingredient.protein.round(3) %>g</td>
          </tr>
          <tr>
            <td>糖質</td>
            <td><%= @ingredient.carb.round(3) %>g</td>
          </tr>
          <tr>
            <td>脂質</td>
            <td><%= @ingredient.lipid.round(3) %>g</td>
          </tr>
          <tr>
            <td>ビタミンA</td>
            <td><%= @ingredient.convert_to_micro(@ingredient.vitamin_a) %>μg</td>
          </tr>
          <tr>
            <td>ビタミンB1</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_b1) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンB2</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_b2) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンB6</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_b6) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンB12</td>
            <td><%= @ingredient.convert_to_micro(@ingredient.vitamin_b12) %>μg</td>
          </tr>
          <tr>
            <td>ビタミンC</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_c) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンD</td>
            <td><%= @ingredient.convert_to_micro(@ingredient.vitamin_d) %>μg</td>
          </tr>
          <tr>
            <td>ビタミンE</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_e) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンK</td>
            <td><%= @ingredient.convert_to_micro(@ingredient.vitamin_k) %>μg</td>
          </tr>
        </tbody>
      </table>
      <div class="form-to-add-juicer">
        <%= form_with model: @juicer_ingredient, url: end_users_juicer_ingredients_path, local: true do |f| %>
          <%= render partial: "layouts/error_message", locals: {model: f.object} %>
          <%= f.hidden_field :ingredient_id, :value => @ingredient.id %>
          <%= f.text_field :amount %>グラム
          <div class='add-btn'>
            <%= f.submit "ジューサーに追加" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>