<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h2><span><%= @ingredient.name %>100gあたりに含まれる栄養素一覧</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <table class="table">
        <thead>
          <tr>
            <th>栄養素</th>
            <th>量</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>エネルギー</td>
            <td><%= @ingredient.energy.round(3) %>kcal</td>
          </tr>
          <tr>
            <td>タンパク質</td>
            <td><%= @ingredient.protein.round(3) %>g</td>
          </tr>
          <tr>
            <td>糖質</td>
            <td><%= @ingredient.carb.round(3) %>g</td>
          </tr>
          <tr>
            <td>脂質</td>
            <td><%= @ingredient.lipid.round(3) %>g</td>
          </tr>
          <tr>
            <td>ビタミンA</td>
            <td><%= @ingredient.convert_to_micro(@ingredient.vitamin_a) %>μg</td>
          </tr>
          <tr>
            <td>ビタミンB1</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_b1) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンB2</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_b2) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンB6</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_b6) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンB12</td>
            <td><%= @ingredient.convert_to_micro(@ingredient.vitamin_b12) %>μg</td>
          </tr>
          <tr>
            <td>ビタミンC</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_c) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンD</td>
            <td><%= @ingredient.convert_to_micro(@ingredient.vitamin_d) %>μg</td>
          </tr>
          <tr>
            <td>ビタミンE</td>
            <td><%= @ingredient.convert_to_mili(@ingredient.vitamin_e) %>mg</td>
          </tr>
          <tr>
            <td>ビタミンK</td>
            <td><%= @ingredient.convert_to_micro(@ingredient.vitamin_k) %>μg</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-xs-12">
      <div class="form-to-add-juicer">
        <%= form_with model: @juicer_ingredient, url: end_users_juicer_ingredients_path, class:"form-inline end-users-ingredient-show-form", local: true do |f| %>
          <%= render partial: "layouts/error_message", locals: {model: f.object} %>
          <%= f.hidden_field :ingredient_id, :value => @ingredient.id %>
            <%= f.label :amount, class: "sr-only" %>
            <%= f.text_field :amount, class: "form-control", id:"ingredient-show-form-control" %><p class="unit"> g</p>
          <%= f.submit "追加", class: "submit-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>