<div class="container">
  <% if @ingredients.any? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h2><span>「<%= @word %>」に関連した材料一覧</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ingredients-table col-xs-offset-4 col-xs-4">
        <%= render partial: "end_users/ingredients/ingredients_table", locals: {ingredients: @ingredients } %>
      </div>
    </div>
    <div class="row">
      <div class="ingredient-buttons col-xs-offset-4 col-xs-4">
        <div class="add-ingredient-btn">
          <%= link_to new_end_users_ingredient_path do %>
            <btn class="btn btn-primary">新しく材料を作成する</btn>
          <% end %>
        </div>
        <div class="ingredient-index-btn">
          <%= link_to end_users_ingredients_path do %>
            <btn class="btn btn-success">材料一覧に戻る</btn>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>「<%= @word %>」に関連した材料はありません</span></h2>
      </div>
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <div class="ingredient-search ingredient-search-no-item">
            <div class="search-form search-form-no-item">
              <%= form_with url: end_users_searches_ingredient_search_path, class: "form-inline", method: :get, local: true do |f| %>
                <%= f.text_field :word, id: "no-item-form", class: "form-control", placeholder: "ひらがな/カタカナ/漢字で検索してみよう" %>
                <%= f.submit "検索", class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ingredient-buttons col-xs-offset-4 col-xs-4">
          <div class="add-ingredient-btn">
            <%= link_to new_end_users_ingredient_path do %>
              <btn class="btn btn-primary">新しく材料を作成する</btn>
            <% end %>
          </div>
          <div class="ingredient-index-btn">
            <%= link_to end_users_ingredients_path do %>
              <btn class="btn btn-success">材料一覧に戻る</btn>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>