<table class="table">
  <tbody>
    <% juicer_ingredients.each do |ingredient| %>
      <div class="row">
        <tr>
          <td class="col-xs-4"><%= ingredient.ingredient.name %></td>
          <td class="col-xs-7">
            <%= form_with model: ingredient, url: end_users_juicer_ingredient_path(ingredient), class: "form-inline", remote: true do |f| %>
              <%= f.text_field :amount, class: "form-control", id: "juicer-ingredients-show-form-control" %> g
              <%= f.submit "変更", class:"btn btn-primary" %>
            <% end %>
          </td>
          <td class="col-xs-1">
            <%= link_to end_users_juicer_ingredient_path(ingredient), method: :delete, data: {confirm: "削除しますか？" } do %>
              <button class="btn btn-danger">削除</button>
            <% end %>
          </td>
        </tr>
      </div>
    <% end %>
  </tbody>
</table>