<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <h2>ジューサーの中身</h2>
    </div>
  </div>
  <div class="row">
    <% if @juicer_ingredients.any? %>
      <div class="col-xs-6">
        <%= render partial: "layouts/error_message", locals: {model: @juicer_ingredient} %>
        <%= link_to destroy_all_end_users_juicer_ingredients_path, method: :delete, data: {confirm: "削除しますか？"} do %>
          <btn class="btn btn-danger">ジューサーを空にする</btn>
        <% end %>
        <br>
        <table class="table table-bordered">
          <tbody>
            <% @juicer_ingredients.each do |ingredient| %>
              <tr>
                <td><%= ingredient.ingredient.name %></td>
                <td>
                  <%= form_with model: ingredient, url: end_users_juicer_ingredient_path(ingredient), local: true do |f| %>
                    <%= f.text_field :amount %> グラム
                    <%= f.submit "変更", class:"btn btn-primary" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to end_users_juicer_ingredient_path(ingredient), method: :delete, data: {confirm: "削除しますか？" } do %>
                    <button class="btn btn-danger">削除</button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <br>
        <%= link_to end_users_ingredients_path do %>
          <button class='btn btn-success'>材料を追加する</button>
        <% end %>
        <%= link_to new_end_users_smoothy_path, data: {"turbolinks" => false} do %>
          <button class="btn btn-primary">レシピ保存画面へ</button>
        <% end %>
      </div>
      <div class="col-xs-6">
        <div class="juicer-ingredients-nutrient-table">
          <%= render partial: "end_users/juicer_ingredients/total_juicer_ingredients_nutrients", locals: { juicer_ingredients: @juicer_ingredients } %>
        </div>
      </div>
    <% else %>
      <h3>材料が入っていません</h3>
      <%= link_to end_users_ingredients_path do %>
        <button class='btn btn-success'>材料を追加する</button>
      <% end %>
    <% end %>
  </div>
</div>