<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h3><span>CREATE NEW INGREDIENT</span></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= form_with model: @ingredient,url: confirm_admins_ingredients_path, method: :get, local: true do |f| %>
        <table class="table">
          <tr>
            <th><%= f.label :name, "材料名" %></th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th><%= f.label :edible_part_amount, "1つあたりの可食部重量" %></th>
            <td><%= f.text_field :edible_part_amount %> g</td>
          </tr>
          <tr>
            <th><%= f.label :gram, "〜グラムあたりの栄養素量" %></th>
            <td><%= f.text_field :gram %> g</td>
          </tr>
          <tr>
            <th><%= f.label :energy, "エネルギー" %></th>
            <td><%= f.text_field :energy, value: "" %> kcal</td>
          </tr>
          <tr>
            <th><%= f.label :protein, "タンパク質" %></th>
            <td><%= f.text_field :protein, value: "" %> g</td>
          </tr>
          <tr>
            <th><%= f.label :carb, "糖質" %></th>
            <td><%= f.text_field :carb, value: "" %> g</td>
          </tr>
          <tr>
            <th><%= f.label :lipid, "脂質" %></th>
            <td><%= f.text_field :lipid, value: "" %> g</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_a, "ビタミンA" %></th>
            <td><%= f.text_field :vitamin_a, value: "" %> μgRAE</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b1, "ビタミンB1" %></th>
            <td><%= f.text_field :vitamin_b1, value: "" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b2, "ビタミンB2" %></th>
            <td><%= f.text_field :vitamin_b2, value: "" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b6, "ビタミンB6" %></th>
            <td><%= f.text_field :vitamin_b6, value: "" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b12, "ビタミンB12" %></th>
            <td><%= f.text_field :vitamin_b12, value: "" %> μg</td>
          </tr>
          <tr>
            <th> <%= f.label :vitamin_c, "ビタミンC" %></th>
            <td><%= f.text_field :vitamin_c, value: "" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_d, "ビタミンD" %></th>
            <td><%= f.text_field :vitamin_d, value: "" %> μg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_e, "ビタミンE" %></th>
            <td><%= f.text_field :vitamin_e, value: "" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_k, "ビタミンK" %></th>
            <td><%= f.text_field :vitamin_k, value: "" %> μg</td>
          </tr>
        </table>
        <%= f.submit "追加" %>
      <% end %>
    </div>
  </div>
</div>