<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>CREATE NEW INGREDIENT</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="hankaku-caution">※数値は半角数字でご入力ください</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= form_with model: @ingredient,url: confirm_admins_ingredients_path, class: "form-inline", method: :get, local: true do |f| %>
        <table class="table">
          <tr>
            <th><%= f.label :name_hiragana, "材料名" %></th>
            <td><%= f.text_field :name, value: params[:name], class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :gram, "〜グラムあたりの栄養素量" %></th>
            <td><%= f.text_field :gram, value: params[:gram], class: "form-control" %> g</td>
          </tr>
          <tr>
            <th><%= f.label :energy, "エネルギー" %></th>
            <td><%= f.text_field :energy, value: params[:energy], class: "form-control" %> kcal</td>
          </tr>
          <tr>
            <th><%= f.label :protein, "タンパク質" %></th>
            <td><%= f.text_field :protein, value: params[:protein], class: "form-control" %> g</td>
          </tr>
          <tr>
            <th><%= f.label :carb, "糖質" %></th>
            <td><%= f.text_field :carb, value: params[:carb], class: "form-control" %> g</td>
          </tr>
          <tr>
            <th><%= f.label :lipid, "脂質" %></th>
            <td><%= f.text_field :lipid, value: params[:lipid], class: "form-control" %> g</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_a, "ビタミンA" %></th>
            <td><%= f.text_field :vitamin_a, value: params[:vitamin_a], class: "form-control" %> μgRAE</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b1, "ビタミンB1" %></th>
            <td><%= f.text_field :vitamin_b1, value: params[:vitamin_b1], class: "form-control" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b2, "ビタミンB2" %></th>
            <td><%= f.text_field :vitamin_b2, value: params[:vitamin_b2], class: "form-control" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b6, "ビタミンB6" %></th>
            <td><%= f.text_field :vitamin_b6, value: params[:vitamin_b6], class: "form-control" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_b12, "ビタミンB12" %></th>
            <td><%= f.text_field :vitamin_b12, value: params[:vitamin_b12], class: "form-control" %> μg</td>
          </tr>
          <tr>
            <th> <%= f.label :vitamin_c, "ビタミンC" %></th>
            <td><%= f.text_field :vitamin_c, value: params[:vitamin_c], class: "form-control" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_d, "ビタミンD" %></th>
            <td><%= f.text_field :vitamin_d, value: params[:vitamin_d], class: "form-control" %> μg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_e, "ビタミンE" %></th>
            <td><%= f.text_field :vitamin_e, value: params[:vitamin_e], class: "form-control" %> mg</td>
          </tr>
          <tr>
            <th><%= f.label :vitamin_k, "ビタミンK" %></th>
            <td><%= f.text_field :vitamin_k, value: params[:vitamin_k], class: "form-control" %> μg</td>
          </tr>
        </table>
        <%= f.submit "追加", class: "btn btn-primary center-block" %>
      <% end %>
    </div>
  </div>
</div>