<div class="container-fluid admins-top">
  <div class="todays-post-links">
    <h3 class="link-to-index">
      本日のスムージー投稿数
      <%= link_to todays_smoothies_admins_smoothies_path do %>
        <%= @smoothies.count %>件
      <% end %>
    </h3>
    <h3 class="link-to-index">
      本日のコメント投稿数
      <%= link_to todays_comments_admins_comments_path do %>
        <%= @comments.count %>件
      <% end %>
    </h3>
    <h3 class="link-to-index">本日の材料追加数
      <%= link_to todays_ingredients_admins_ingredients_path do %>
        <%= @ingredients.count %>件
      <% end %>
    </h3>
  </div>
</div>