<!DOCTYPE html>
<html>
  <head>
    <title>Gys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/850f0b1727.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo">
        <h2 class="logo-word">Grab Your Smoothie</h2>
        <%= link_to root_path, class: "link-to-root" do %>
          <div class="logo-image"></div>
        <% end %>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="globalMenuSp">
        <ul>
          <% if end_user_signed_in? %>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home">トップ</i>
              <% end %>
            </li>
            <li>
              <%= link_to end_users_end_user_path(current_end_user) do %>
                <i class="fas fa-user">マイページ</i>
              <% end %>
            </li>
            <% if current_end_user.passive_notifications.where(checked: false).any? %>
              <li>
                <%= link_to end_users_notifications_path do %>
                  <span class="notification-container">
                    <i class="fas fa-circle notification-circle"></i><i class="fas fa-bell">通知</i>
                  </span>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to end_users_notifications_path do %>
                  <i class="fas fa-bell">通知</i>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to end_users_end_users_path do %>
                <i class="fas fa-users">ユーザー一覧</i>
              <% end %>
            </li>
            <li>
              <%= link_to end_users_search_ways_path do %>
                <i class="fas fa-apple-alt">レシピ</i>
              <% end %>
            </li>
            <li>
              <%= link_to end_users_juicer_ingredients_path do %>
                <i class="fas fa-blender">ジューサー</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_end_user_session_path, method: :delete  do %>
                <i class="fas fa-sign-out-alt">ログアウト</i>
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to admins_top_path do %>
                <i class="fas fa-home">トップ</i>
              <% end %>
            </li>
            <li>
              <%= link_to admins_end_users_path do %>
                <i class="fas fa-users">会員</i>
              <% end %>
            </li>
            <li>
              <%= link_to admins_ingredients_path do %>
                <i class="fas fa-apple-alt">材料</i>
              <% end %>
            </li>
            <li>
              <%= link_to admins_comments_path do %>
                <i class="fas fa-comment">コメント</i>
              <% end %>
            </li>
            <li>
              <%= link_to admins_smoothies_path do %>
                <i class="fas fa-blender">スムージー</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete  do %>
                <i class="fas fa-sign-out-alt">ログアウト</i>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home">トップ</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_end_user_registration_path do %>
                <i class="fas fa-pen-alt">新規登録</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_end_user_session_path do %>
                <i class="fas fa-sign-in-alt">ログイン</i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <div class="flash-messages">
        <%= render partial: 'layouts/flash_messages' %>
      </div>
      <%= yield %>
    </main>
    <footer>
      <div>Logo made by <a href="https://www.designevo.com/logo-maker/" title="Free Online Logo Maker">DesignEvo free logo creator</a></div>
    </footer>
  </body>
</html>
