<!DOCTYPE html>
<html>
  <head>
    <title>Gys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/850f0b1727.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo">
        <h2 class="logo-word">Grab Your Smoothie</h2>
        <% if admin_signed_in? %>
          <%= link_to admins_top_path, class: "link-to-root" do %>
            <div class="logo-image"></div>
          <% end %>
        <% else %>
          <%= link_to root_path, class: "link-to-root" do %>
            <div class="logo-image"></div>
          <% end %>
        <% end %>
      </div>
      <%= render partial: "layouts/hamburger_menu" %>
    </header>
    <main>
      <div class="flash-messages">
        <%= render partial: 'layouts/flash_messages' %>
      </div>
      <%= yield %>
    </main>
    <footer>
      <div>Logo made by <a href="https://www.designevo.com/logo-maker/" title="Free Online Logo Maker">DesignEvo free logo creator</a></div>
    </footer>
  </body>
</html>
