<!DOCTYPE html>
<html>
  <head>
    <title>Gys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/850f0b1727.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo">
        <h2 class="logo-word">Grab Your Smoothie</h2>
        <% if admin_signed_in? %>
          <%= link_to admins_top_path, class: "link-to-root" do %>
            <div class="logo-image"></div>
          <% end %>
        <% else %>
          <%= link_to root_path, class: "link-to-root" do %>
            <div class="logo-image"></div>
          <% end %>
        <% end %>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="globalMenuSp">
        <ul>
          <% if end_user_signed_in? %>
            <li>
              <%= link_to root_path do %>
                <p>トップ</p>
              <% end %>
            </li>
            <% if current_end_user.passive_notifications.where(checked: false).any? %>
              <li>
                <%= link_to notifications_path do %>
                  <span class="notification-container">
                    <i class="fas fa-circle notification-circle"></i><p>通知</p>
                  </span>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to notifications_path do %>
                  <p>通知</p>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to end_user_path(current_end_user) do %>
                <p>マイページ</p>
              <% end %>
            </li>
            <li>
              <%= link_to end_users_path do %>
                <p>ユーザー一覧</p>
              <% end %>
            </li>
            <li>
              <%= link_to search_ways_path do %>
                <p>レシピ</p>
              <% end %>
            </li>
            <li>
              <%= link_to juicer_ingredients_path do %>
                <p>ジューサー</p>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_end_user_session_path, method: :delete  do %>
                <p>ログアウト</p>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_confirm_end_users_path do %>
                <p class="resign-button">退会</p>
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to admins_top_path do %>
                <p>トップ</p>
              <% end %>
            </li>
            <li>
              <%= link_to admins_end_users_path do %>
                <p>会員</p>
              <% end %>
            </li>
            <li>
              <%= link_to admins_ingredients_path do %>
                <p>材料</p>
              <% end %>
            </li>
            <li>
              <%= link_to admins_comments_path do %>
                <p>コメント</p>
              <% end %>
            </li>
            <li>
              <%= link_to admins_smoothies_path do %>
                <p>スムージー</p>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete  do %>
                <p>ログアウト</p>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to root_path do %>
                <p>トップ</p>
              <% end %>
            </li>
            <li>
              <%= link_to new_end_user_registration_path do %>
                <p>新規登録</p>
              <% end %>
            </li>
            <li>
              <%= link_to new_end_user_session_path do %>
                <p>ログイン</p>
              <% end %>
            </li>
            <li>
              <%= link_to new_admin_session_path do %>
                <p>管理者サイト</p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <div class="flash-messages">
        <%= render partial: 'layouts/flash_messages' %>
      </div>
      <%= yield %>
    </main>
    <footer>
      <div>Logo made by <a href="https://www.designevo.com/logo-maker/" title="Free Online Logo Maker">DesignEvo free logo creator</a></div>
    </footer>
  </body>
</html>
